body {
  background-color: black;
}

.mycontainer {
  background-color: black;
  color: white;
  width: 40%;
  min-width: 400px;
  margin: 10px auto;
}

li {
  font-size: 1.2rem;
  padding: 5px 0;
}

li div {
  vertical-align: text-top;
}

/* item */
.itemP,
#itemCheck {
  display: inline-block;
}

.itemP {
  width: 83%;
  margin-right: 5%;
  margin-bottom: 0%;
  background-color: black;
  color: white;
  border: none;
}

#itemCheck {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 50%;
}

.itemInput {
  width: 85%;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
}

#addButton,
#addAnchor {
  background: black;
  color: #fff;
  border: none;
  margin: 0 11% 3px 89%;
}

/* anchor */
.anchorTable {
  border-collapse: separate;
  /* 如果我们直接对table设置border-radius是不会生效的，
   因为table的默认属性border-collapse值为collapse。
   border-collapse:collapse和border-radius不兼容。
   因此，我们需要将border-collapse的值设置为separate即可。 */
  border: 3px solid rgba(195, 195, 195, 0.5);
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
}

.anchorTitle {
  width: 30%;
  text-align: center;
  padding: 5px 30px 5px 15px;
}

.anchorTitle h1 {
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100px;
  word-break: break-all;
}

.anchorTitle hr {
  margin: 0;
}

.anchorTitle p {
  margin: 0 auto;
}

.anchorDetailInput {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
}

.anchorTitleInput {
  border: 1px solid rgba(195, 195, 195, 0.5);
  border-radius: 5px;
  background-color: gray;
  color: #fff;
  width: 40%;
  font-size: 1.3rem;
  text-align: center;
  margin: 10px;
  vertical-align: middle;
}

.blocks {
  display: inline-block;
}

.colorButton {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  vertical-align: middle;
}

.pickers {
  position: absolute;
}

.dateBar {
  display: inline-block;
  margin: 10px;
}

#addAnchor {
  display: inline-block;
  margin: unset;
}
