/* Global Styles */
:root {
  --primary-color: #ffffa1;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --black-color: #000000;
  --gray1-color: rgb(222, 219, 219);
  --gray2-color: rgba(255, 255, 255, 0.6);
  --gray3-color: rgba(255, 255, 255, 0.3);
  --gray4-color: rgba(255, 255, 255, 0.2);
  --color-picker: #ffffa1;
}

body {
  background-color: var(--black-color);
  color: var(--gray1-color);
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  /*让其子元素的位置可以被设定为absolute */
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

/* .mycontainer { */
/* position: relative; */
/*让其子元素的位置可以被设定为absolute */
/* min-height: 100vh; */
/* 在post占不满viewport时，也不会让footer杠在页面中间 */
/* } */

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.7rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

/* Button */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #343a40;
  padding: 0.3rem 1.1rem;
  margin-top: 10px;
  font-size: 0.9rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: 0px 0px 10px var(--primary-color);
}

.active {
  text-decoration: none;
  color: var(--gray1-color);
}

.unactive {
  text-decoration: none;
  color: var(--gray2-color);
}

/*  */
.darkMode {
  background-color: var(--black-color);
  /* color: var(--gray1-color); */
}

/* Forms */
.form .form-group {
  margin: 1.2rem auto;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: var(--gray2-color);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 70%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 3px solid var(--gray3-color);
  box-shadow: 0px 0px 10px var(--gray3-color);
  background-color: var(--gray1-color);
  border-radius: 15px;
  margin: auto;
}

.form input[type="submit"],
button {
  font: inherit;
}

.content-container {
  padding-bottom: 100px;
  /*margin无法解决因为位置不互斥，只能用padding强行加大content本身的面积制造距离  */
}

.navBar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navHome {
  position: relative;
  top: -3px;
  /* 解决文字与图片位置中线不一致 */
}

.centerBlock {
  margin: 60px auto;
  text-align: center;
  border-top: var(--gray2-color) 1px solid;
  border-left: var(--gray2-color) 1px solid;
  border-right: var(--gray3-color) 1px solid;
  border-bottom: var(--gray3-color) 1px solid;
  border-radius: 5px;
  padding: 10px 10px;
  width: 70%;
  max-width: 500px;
  background: linear-gradient(
    to right bottom,
    var(--gray3-color),
    var(--gray4-color)
  );
  font-size: 1.4rem;
}

.centerBlock a {
  font-weight: bold;
  font-style: italic;
  color: var(--primary-color);
}

.footer {
  position: absolute;
  /*to mycontainer, 但是因为中间的content里加了npm所以他和content的盒子之间的位置不是互斥的，出现占位问题*/
  bottom: 0px;
  /* margin: 10px 0; */
  text-align: center;
  width: 100%;
}

/* =======
    item 
   =======*/

ol {
  margin: 10px 0 20px 0;
}

li,
.itemInput {
  font-size: 1.2rem;
  padding: 1.5px 0;
}

li div {
  vertical-align: text-top;
}

.itemP,
#itemCheck {
  display: inline-block;
}

.itemP {
  width: 300px;
  background-color: black;
  color: white;
  border: none;
  word-wrap: break-word; /* 中文会自动换行，但英文如果没有这项就不会换行 */
}

#itemCheck {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 50%;
  margin-left: 55px;
}

.itemInput {
  width: 80%;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
}

#addButton,
#addAnchor {
  position: absolute;
  display: inline-block;
  background: black;
  color: #fff;
  border: none;
  margin-left: 400px;
  margin-bottom: 10px;
}

/* =======
   anchor
   ======= */

/* .anchorTable {
} */

.anchorItem,
.anchorRecordTable {
  display: inline-block;
  border-collapse: separate;
  /* 如果我们直接对table设置border-radius是不会生效的，
   因为table的默认属性border-collapse值为collapse。
   border-collapse:collapse和border-radius不兼容。
   因此，我们需要将border-collapse的值设置为separate即可。 */
  border: 3px solid rgba(195, 195, 195, 0.5);
  border-radius: 10px;
  width: 300px;
  margin: 10px 20px;
}

.anchorTitle {
  width: 30%;
  text-align: center;
  padding: 10px 10px;
}

.anchorTitle h1 {
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100px;
  word-break: break-all;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.anchorTitle hr {
  margin: 0;
}

.anchorTitle p,
.dateBar {
  margin: 0 auto;
}

.anchorDetailInput {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 5px;
}

.anchorTitleInput {
  border: 1px solid rgba(195, 195, 195, 0.5);
  border-radius: 5px;
  background-color: gray;
  color: #fff;
  width: 100px;
  font-size: 1.3rem;
  text-align: center;
  margin: 5px;
  vertical-align: middle;
}

.anchorRecordTable {
  width: 250px;
}

.anchorRecordTable .anchorTitle {
  margin: 0 auto;
  width: unset;
  padding-bottom: 0;
}

.anchorRecordTable .anchorTitle h1 {
  display: inline-block;
  width: unset;
}

.anchorRecordTable .anchorTitle p {
  display: inline-block;
  padding-left: 7px;
}

.monthHeatmap {
  margin: 0 auto;
  width: 350px;
  padding-left: 13px;
  margin-top: -5px;
}

.blocks {
  display: inline-block;
}

.colorButton {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 10px 30px;
  vertical-align: middle;
}

.pickers {
  position: absolute;
}

#addAnchor {
  position: unset;
  margin: 10px 30px 10px 0;
}
